
.etr-main-view {
    height: 100%;
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.etr-main-view .section-one,
.etr-main-view .section-two {
    display: flex;
    flex-direction: column;
}

.etr-main-view .section-one {
    flex: 2;
    position: relative;
}

.etr-main-view .section-two {
    flex: 1;
}

.etr-main-view .core {
    flex: initial;
}

.etr-main-view .test-hierarchy {
    width: 100%;
    height: 10px;
    flex: auto;
    overflow: scroll;
    user-select: none;
}

.etr-main-view .output-display {
    height: 10px;
    flex: auto;
    padding: 4px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
    font-family: Consolas;
    overflow: scroll;
}

.etr-main-view .footer {
    height: 45px;
    flex: initial;
    cursor: default;
    user-select: none;
}

.etr-main-view .toolbar {
    margin: 0 0 0.5em 0;
}

.etr-main-view .toolbar .run-all-button {
    width: 80px;
    margin: 0;
    float: right;
    position: absolute;
    top: 0px;
    right: -2px;
}

.etr-main-view .toolbar .run-all-button .btn {
    height: 33px;
    padding-top: 3px;
}

.etr-main-view .toolbar .status-bar {
    height: 31px;
    margin-right: 90px;
    border-radius: 4px;
    text-align: center;
}

.etr-main-view .toolbar .status-bar .title {
    padding-left: 10px;
    text-align: left;
    font-size: 1.25em;
    float: left;
}

.theme-nord-atom-ui .etr-main-view .toolbar .status-bar .title {
    padding-top: 3px;
}

.etr-main-view .passing-tests {
    padding-right: 10px;
    text-align: right;
    float: right;
}

.theme-nord-atom-ui .etr-main-view .passing-tests {
    padding-top: 6px;
}

.etr-main-view .passing-tests .number-field {
    padding: 0;
}

.etr-main-view div.run-data-row {
    margin: 0.75em 0 0 0;
    height: 24px;
}

.etr-main-view div.run-data-row .btn {
    margin-left: 1em;
}

.etr-main-view div.run-data-field {
    display: inline-block;
}

.etr-main-view div.run-data-field.time {
    padding-top: 1px;
    float: left;
}

.etr-main-view div.run-data-field.seed {
    float: right;
}

.etr-main-view div.project-selector {
    margin: 0.75em 0;
}

.etr-main-view div.project-selector {
    display: flex;
}

.etr-main-view div.project-selector div.label {
    flex: 1;
}

.etr-main-view div.project-selector div.selector {
    flex: 7;
    margin-left: 10px;
}

.etr-main-view div.project-selector div.selector select {
    width: 100%;
    color: #9da5b4;
    border-color: #181a1f;
    background-color: #353b45;
    font-size: auto;
    height: auto;
}

.etr-main-view ul.test-list {
    width: 100%;
    padding: 0 0 0 1.5em;
    list-style-type: none;
}

.etr-main-view ul.test-list li {
    padding: 1px 0;
}

.etr-main-view div.test-hierarchy > ul.test-list {
    margin: 0 0 18px 0;
    padding: 0;
    cursor: default;
}

.etr-main-view ul.test-list span.passed {
    color: green;
    font-weight: bold;
}

.etr-main-view ul.test-list span.failed {
    color: red;
    font-weight: bold;
}

.etr-main-view ul.test-list span.todo {
    color: #2381eb;
    font-weight: bold;
}

.etr-main-view ul.test-list span.pending {
    color: gray;
    font-weight: bold;
}

.etr-main-view ul.test-list li {
    background-color: inherit;
    transition: background-color 0.3s ease-in-out;
}

.etr-main-view .output-display .failure-header,
.etr-main-view .output-display .given-display  {
    margin: 0 0 1.5em 0;
}

.etr-main-view .output-display .failure span.addition {
    padding: 3px 0;
    background-color: #5a5c21;
}

.etr-main-view .output-display .failure span.removal {
    padding: 3px 0;
    background-color: #5c2121;
}

.etr-main-view .footer > div {
    margin-top: 5px;
}

.etr-main-view .seed-settings {
    width: 50%;
    text-align: left;
    position: absolute;
    bottom: 8px;
}

.etr-main-view .seed-settings span {
    padding: 0 8px;
}

.etr-main-view .seed-settings input[type=checkbox] {
    margin-top: -1px;
}

.etr-main-view .seed-settings input[type=number] {
    padding: 0.1em 0.4em;
    line-height: 0;
}

.etr-main-view .seed-settings input[type=number]:disabled {
    color: #555;
}

.etr-main-view .settings-toggle {
    float: right;
}

.etr-main-view .footer .expanded-settings {
    width: 100%;
    text-align: right;
    float: right;
}
