
.etr-main-view {
  min-width: 300px;
  height: 100%;
  margin: 1em 1em;
  display: flex;
  flex-direction: column;
  padding-left: 6px;
}

.etr-main-view .btn-toolbar {
    margin: 0 0 0.5em 0;
}

.etr-main-view .btn-toolbar .btn-group {
    margin: 0;
}

.etr-main-view .btn-toolbar .right {
    float: right;
}

.etr-main-view .status-bar svg {
    vertical-align: middle;
}

.etr-main-view .status-bar span {
    margin-left: 8px;
    vertical-align: middle;
}

.etr-main-view .passing-tests .number-field {
    margin: 0 15% 0 0;
    text-align: left;
}

#test-hierarchy {
    margin: 1em 0 0 0;
    padding: 0;
    cursor: default;
}

#test-hierarchy span.passed {
    color: green;
    font-weight: bold;
}

#test-hierarchy span.failed {
    color: red;
    font-weight: bold;
}

.etr-main-view ul.test-list {
    padding: 0 0 0 1.5em;
    list-style-type: none;
}
